.modal {
	position: absolute;
	inset: 0;
	background-color: rgba(254, 255, 255, 0.47);
	backdrop-filter: blur(10px);
	animation-name: fadeIn;
	animation-duration: 500ms;
	animation-timing-function: ease;
	animation-fill-mode: forwards;
	opacity: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.modal__title {
	font-size: 6vmin;
	font-weight: 700;
	margin-bottom: 3vmin;
}

.modal__button {
	border-radius: 10px;
	border: 2px solid var(--black);
	background-color: var(--white);
	color: var(--black);
	font-weight: 600;
	cursor: pointer;
	aspect-ratio: 1;
	display: grid;
	place-items: center;
	width: 12vmin;
	padding: 0;
}

.modal__button svg {
	stroke: var(--black);
	width: 8vmin;
	height: 8vmin;
}

.modal__button_container {
	display: flex;
	align-items: center;
	gap: 8px;
}

.modal__select {
	border-radius: 10px;
	border: 2px solid var(--black);
	background-color: var(--white);
	color: var(--black);
	font-weight: 600;
	cursor: pointer;
	aspect-ratio: 1;
	width: 12vmin;
    font-size: 6vmin;
    -webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	text-align: center;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media screen and (max-width: 560px) {
	.modal__title {
		font-size: 12vmin;
		margin-bottom: 10vmin;
	}

	.modal__button {
		width: 24vmin;
	}

	.modal__button svg {
		width: 18vmin;
		height: 18vmin;
	}

    .modal__select {
        width: 24vmin;
        font-size: 12vmin;
    }
}
